<img id="banner-1" src="/assets/bg-2.webp" alt="banner-login" class="img-fluid max-width-450">
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mt-4 mb-2">
                <h4 class="fw-bold">Sign Up to Task Manager</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <!-- Mensagem de alerta do registro -->
                    <div *ngIf="isAlertErrorEmail" class="alert alert-danger text-center" role="alert">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="text-center">Email used by another account!</span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                (click)="isShowOrHideAlertErrorEmail()" aria-label="Close"></button>
                        </div>
                    </div>

                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" action="" class="signin-form ml-3"
                        enctype="multipart/form-data">
                        <div class="form-group mb-4 text-center">
                            <div class="profile-pic-wrapper" (click)="uploadProfilePic()">
                                <div *ngIf="showIconOrImage" class="profile-pic">
                                    <i class="bi bi-person-add white-icon"></i>
                                    <img *ngIf="profilePicUrl" [src]="profilePicUrl" alt="Profile Picture">
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <input formControlName="fullName" type="text" class="form-control" placeholder="Full Name"
                                required>
                        </div>
                        <div class="form-group mb-3">
                            <input formControlName="email" type="text" class="form-control" placeholder="Email"
                                required>
                        </div>
                        <div class="form-group mb-3">
                            <input formControlName="password" id="password-field" type="password" class="form-control"
                                placeholder="Password" required>
                            <span toggle="#password-field" class="fa fa-fw field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input formControlName="passwordConfirmation" type="password" class="form-control"
                                placeholder="Confirm Password" required>
                        </div>
                        <div *ngIf="registerForm.controls['passwordConfirmation'].touched && registerForm.hasError('passwordMismatch')" 
                             class="alert alert-warning text-center" role="alert">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-center">Passwords do not match!</span>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <button #submit (click)="hideImage()" (click)="hideIcon()" [disabled]="!registerForm.valid" type="submit"
                                class="form-control btn btn-outline-light submit px-3">Create Account</button>
                        </div>
                        @defer(on interaction(submit); prefetch on idle){
                            @if(user){
                                <app-home />
                            }
                        }@loading {
                            <app-loading />
                        }
                        <div class="form-group d-md-flex d-md-flex justify-content-center">
                            <div class="w-100 text-end mt-4 mb-2">
                                <span>Already have an account? <a #login (click)="hideIcon()" class="border-bottom">Sign in</a></span>
                                @defer(on interaction(login); prefetch on idle){
                                    <app-login />
                                }@loading {
                                    <app-loading />
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
