<div class="container-fluid">
    <div class="card card-custom justify-content-center mt-4">
      <div class="card-body">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <div class="container justify-content-end ">
           <app-navbar/>
          </div>
        </nav>
        <!-- Header -->
        <header>
          <div class="container">
       
          </div>
        </header>
        <!-- Footer -->
        <footer class="mt-4">
          <div class="container">
   
          </div>
        </footer>
      </div>
    </div>
</div>
  