<div class="container-fluid">
  <div class="card card-custom justify-content-center mt-4">
    <div class="card-body">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container justify-content-end ">
          <app-navbar (createdTask)="onCreatedTask($event)"></app-navbar>
        </div>
      </nav>
      <!-- table -->
      <header>
        <div class="container">
          <app-table [isAlertCreated]="isAlertCreated"></app-table>
        </div>
      </header>
      <!-- Footer -->
      <footer class="mt-4">
        <div class="container">
          <app-footer></app-footer>
        </div>
      </footer>
    </div>
  </div>
</div>