<div class="container-fluid">
    <div class="card rounded shadow justify-content-center mt-4 mb-2">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light rounded bg-white">
            <div class="container justify-content-end">
                @defer(on idle){
                    <app-navbar />
                }
                @loading {
                    <app-loading />
                }
            </div>
        </nav>

        <!-- table -->
        <header>
            <div class="container">
                @defer(on viewport; prefetch on idle) {
                    <app-table />
                }@placeholder {
                    <p>loading table!</p>
                }
                @loading {
                    <app-loading />
                }
            </div>
        </header>
        <!-- Footer -->
        <footer>
            <div class="container mb-2">
                @defer(on viewport; prefetch on idle){
                    <app-footer />
                }@placeholder {
                    <p>loading footer!</p>
                }@loading {
                    <app-loading />
                }
            </div>
        </footer>
    </div>
</div>