<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-4 col-sm-12 text-lg-start text-sm-center">
                <span>Today is {{currentDateTime | date: 'EEEE'}}<br/>{{currentDateTime | date: 'MMMM d, y'}}</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-lg-center text-sm-center">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="data:image/png;base64,{{user.imageProfile}}" alt="User's Image"
                        class="img-fluid rounded-circle">
                    <span> Welcome, {{user.fullName.split(' ')[0]}}</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-lg-end text-sm-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" (click)="onLogout()" aria-current="page" href="/login"><i
                                class="bi bi-power"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>